@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

body {
    font-family: sans-serif;
    position: absolute;
    top: 48%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.form-container h1 {
    display: flex;
    justify-content: center;
}

/* style the form container */
.form-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

/* style the form elements */
.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-container input[type=text],
.form-container input[type=email],
.form-container input[type=password],
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: inherit;
}

.form-container button[type=submit] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.form-container button[type=submit]:hover {
    background-color: #3e8e41;
}

.alert {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    animation: pop-up 0.3s ease-out, shake 0.3s ease-out 0.3s;
}

@keyframes pop-up {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

.password-field-container {
    position: relative;
}

#show-password-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -20%);
    cursor: pointer;
}