{% block content %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Member</title>
    <link rel="stylesheet" href="{% static '/members/css/form_styles.css' %}">
  </head>
  <body>
    <form action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <button type="submit">Home</button>
    </form>
    
    <form method="post" action="{% if member %}/update_member/{{ member.id }}{% else %}/add_member/{% endif %}" class="form-container">
        {% csrf_token %}

        <label>Surname</label>
        <input type="text" name="surname" value="{% if member %}{{ member.Surname }}{% endif %}">

        <label >Other Name</label>
        <input type="text" name="other_name" value="{% if member %}{{ member.Other_name }}{% endif %}">

        <label>Primary phone number</label>
        <input type="text" name="primary_phone_number" value="{% if member %}{{ member.Primary_phone_number }}{% endif %}">

        <label>Whatsapp phone number</label> 
        <input type="text" name="whatsapp_phone_number" value="{% if member %}{{ member.Whatsapp_phone_number }}{% endif %}">

        <label>Place of residence</label>  
        <input type="text" name="place_of_residence" value="{% if member %}{{ member.Place_of_residence }}{% endif %}">

        <label>Work Place</label>
        <input type="text" name="work_place" value="{% if member %}{{ member.Work_place }}{% endif %}">

        <label>Date of birth</label>
        <input type="date" name="date_of_birth" value="{% if member %}{{ member.Date_of_birth }}{% endif %}">

        <label>Missional Community</label>
        <input type="text" name="missional_community" value="{% if member %}{{ member.Missional_Community }}{% endif %}">

        <input type="submit" value="{% if member %}Update{% else %}Save{% endif %}">
    </form>
  </body>
</html>

{% endblock %}
