{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/349801ffb5.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'members/css/login_styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let logoutTimeout;

        function startLogoutTimer() {
            // Set the timeout to 10 minutes (600,000 milliseconds)
            logoutTimeout = setTimeout(logout, 600000);
        }

        function stopLogoutTimer() {
            clearTimeout(logoutTimeout);
        }

        function logout() {
            $.ajax({
                url: '/ajax/logout/',
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    console.log('User logged out.');
                }
            });
        }

        window.addEventListener('blur', startLogoutTimer);
        window.addEventListener('focus', stopLogoutTimer);
        window.addEventListener('beforeunload', function(event) {
            stopLogoutTimer();
            logout();
        });
    </script>
</head>

<body>
    {% if error_message %}
        <div class="alert">{{ error_message }}</div>
    {% endif %}

    <form action="/" method="post" class="form-container" autocomplete="off">
        {% csrf_token %}
        <h1>Login</h1>

        <div class="form-group">
            <label for="{{ form.user_name.id_for_label }}">Username:</label>
            {{ form.user_name }}
        </div>
        
        <div class="form-group password-field-container">
            <label for="{{ form.user_password.id_for_label }}">Password:</label>
            {{ form.user_password }}
            <i class="fa fa-eye" id="show-password-toggle"></i>
        </div>

        <button type="submit">Continue</button>
    </form>
          
    <script src="{% static 'members/js/login_script.js' %}"></script>
</body>
</html>

{% endblock content %}